Repository Light-it-labs/eo_web, pull requests merged in 2024-06, with the labels that each got.

#168 [FEATURE][CU-86dtqazzn] innova faqs changes
  apps/eo_web/dist/assets/main-5e1b7576.js
  apps/eo_web/dist/manifest.json
  apps/eo_web/src/copy/copy.tsx
Labels: feature, needs review

#179 fix: after upgrade is require update prepare command with the newest husky folder structure
  package.json
Labels: dependencies, bugfix

#180 [CU-86dtub3qj] pre profile
  apps/eo_web/dist/assets/main-17ed8018.css
  apps/eo_web/dist/assets/main-1935110a.js
  apps/eo_web/dist/assets/main-33e11077.js
  apps/eo_web/dist/assets/main-a73a2c36.css
  apps/eo_web/dist/manifest.json
  apps/eo_web/src/api/useApi.ts
  apps/eo_web/src/api/usePreProfile.ts
  apps/eo_web/src/screens/AccountCreation.tsx
Labels: draft, feature

#181 🚀 Release 19/06/2024
  .github/workflows/ci.yml
  .github/workflows/review-labeler.yml
  apps/eo_web/dist/assets/main-17ed8018.css
  apps/eo_web/dist/assets/main-1935110a.js
  apps/eo_web/dist/assets/main-33e11077.js
  apps/eo_web/dist/assets/main-a73a2c36.css
  apps/eo_web/dist/manifest.json
  apps/eo_web/package.json
  apps/eo_web/src/api/useApi.ts
  apps/eo_web/src/api/usePreProfile.ts
  apps/eo_web/src/screens/AccountCreation.tsx
  package.json
  packages/config/eslint/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: needs review

#182 Feature/added action to deploy webapp to s3
  .github/workflows/production_deploy.yml
  .github/workflows/staging_deploy.yml
  apps/eo_web/dist/assets/main-334d19b6.js
Labels: feature, needs review

#184 fix: Fixed staging build
  .github/workflows/staging_deploy.yml
Labels: draft

#185 Fix/GitHub action to deploy to s3
  .github/workflows/production_deploy.yml
  .github/workflows/staging_deploy.yml
Labels: draft, needs review
