Repository Light-it-labs/eo_web, pull requests merged in 2024-07, with the labels that each got.

#193 [CU-86dtx0a3a] install sentry
  apps/eo_web/dist/assets/main-334d19b6.js
  apps/eo_web/dist/assets/main-40e0c178.js
  apps/eo_web/dist/assets/main-6aa514b9.js
  apps/eo_web/dist/manifest.json
  apps/eo_web/package.json
  apps/eo_web/src/App.tsx
  apps/eo_web/src/api/useApi.ts
  apps/eo_web/src/api/useProfile.ts
  apps/eo_web/src/components/Carousel.tsx
  apps/eo_web/src/components/FAQs.tsx
  apps/eo_web/src/components/HowEOWorks.tsx
  apps/eo_web/src/env.ts
  apps/eo_web/src/helpers/sentry.ts
  apps/eo_web/src/main.tsx
  apps/eo_web/src/router/Router.tsx
  apps/eo_web/src/screens/AccountCreation.tsx
  apps/eo_web/src/screens/Checkout.tsx
  pnpm-lock.yaml
Labels: needs review

#197 [BUGFIX][CU-86du17mby] Bug multiple surveys processed for a single response
  apps/eo_web/src/components/ThankYou.tsx
  apps/eo_web/src/screens/Cancer/CancerSurveyThankYou.tsx
  apps/eo_web/src/screens/ProfilingThankYou.tsx
  apps/eo_web/src/screens/Senior/SeniorSurveyThankYou.tsx
  apps/eo_web/src/stores/useSurveyStore.tsx
  packages/shared/src/tw.tsx
Labels: needs review

#198 [Release] 10/07/2024
  .github/workflows/ci.yml
  .github/workflows/production_deploy.yml
  .github/workflows/staging_deploy.yml
  .gitignore
  apps/eo_web/dist/assets/UploadFile-694e44b5.svg
  apps/eo_web/dist/assets/avatar-37667ed6.svg
  apps/eo_web/dist/assets/main-17ed8018.css
  apps/eo_web/dist/assets/main-33e11077.js
  apps/eo_web/dist/fonts/Licenses/newlyn-eula_trial_2022-12-21.pdf
  apps/eo_web/dist/fonts/NewHero-Bold.woff2
  apps/eo_web/dist/fonts/NewHero-Light.woff2
  apps/eo_web/dist/fonts/NewHero-Medium.woff2
  apps/eo_web/dist/fonts/NewHero-Regular.woff2
  apps/eo_web/dist/fonts/NewHero-SemiBold.woff2
  apps/eo_web/dist/img/BagWhite.png
  apps/eo_web/dist/img/Brain.png
  apps/eo_web/dist/img/Calendar.png
  apps/eo_web/dist/img/CalendarChecked.png
  apps/eo_web/dist/img/Feedback.png
  apps/eo_web/dist/img/ThumbUp.png
  apps/eo_web/dist/manifest.json
  apps/eo_web/dist/vite.svg
  apps/eo_web/package.json
  apps/eo_web/src/App.tsx
  apps/eo_web/src/api/useApi.ts
  apps/eo_web/src/api/useProfile.ts
  apps/eo_web/src/components/Carousel.tsx
  apps/eo_web/src/components/FAQs.tsx
  apps/eo_web/src/components/HowEOWorks.tsx
  apps/eo_web/src/components/ThankYou.tsx
  apps/eo_web/src/env.ts
  apps/eo_web/src/helpers/sentry.ts
  apps/eo_web/src/main.tsx
  apps/eo_web/src/router/Router.tsx
  apps/eo_web/src/screens/AccountCreation.tsx
  apps/eo_web/src/screens/Cancer/CancerSurveyThankYou.tsx
  apps/eo_web/src/screens/Checkout.tsx
  apps/eo_web/src/screens/ProfilingThankYou.tsx
  apps/eo_web/src/screens/Senior/SeniorSurveyThankYou.tsx
  apps/eo_web/src/stores/useSurveyStore.tsx
  packages/shared/package.json
  packages/shared/src/tw.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Labels: dependencies, needs review, release

#207 [CU-86du2wzpn] add referred by question
  apps/eo_web/src/api/useApi.ts
  apps/eo_web/src/screens/AccountCreation.tsx
  apps/eo_web/src/screens/Checkout.tsx
  apps/eo_web/src/screens/ProfilingIntroQuestions.tsx
  apps/eo_web/src/stores/useProfilingStore.ts
  cspell.json
Labels: feature, needs review

#209 fix: origin not changed for referral
  apps/eo_web/src/screens/AccountCreation.tsx
Labels: draft, bugfix

#210 [CU-86dt4uh02] delete athletes stuff
  apps/eo_web/.env.example
  apps/eo_web/src/App.tsx
  apps/eo_web/src/api/useApi.ts
  apps/eo_web/src/configs/env.ts
  apps/eo_web/src/router/Router.tsx
  apps/eo_web/src/router/routes.tsx
  apps/eo_web/src/screens/Athlete/AthleteSurveyForm.tsx
  apps/eo_web/src/screens/Athlete/AthleteSurveyThankYou.tsx
Labels: feature, needs review

#211 feat: update referred by copies
  apps/eo_web/src/screens/AccountCreation.tsx
Labels: draft, feature
