Repository Light-it-labs/eo_web, pull requests merged in 2024-09, with the labels that each got.

#225 [CU-86dumd161] add new flows
  apps/eo_web/src/components/FAQs.tsx
  apps/eo_web/src/layouts/Footer.tsx
  apps/eo_web/src/screens/AccountCreation.tsx
  apps/eo_web/src/screens/Cancer/CancerSurveyThankYou.tsx
  apps/eo_web/src/screens/ProfilingThankYou.tsx
  apps/eo_web/src/stores/useProfilingStore.ts
Labels: feature, needs review

#231 [CU-86durqgvy] update profiling thank you copy
  apps/eo_web/src/screens/ProfilingThankYou.tsx
Labels: draft, feature

#232 [Release] v1.2.1 🚀 - 27/09/2024
  apps/eo_web/src/screens/ProfilingThankYou.tsx
Labels: draft, release

#233 [CU-86durqekz] rename northwell health
  apps/eo_web/src/components/FAQs.tsx
  apps/eo_web/src/layouts/Footer.tsx
  apps/eo_web/src/screens/AccountCreation.tsx
  apps/eo_web/src/screens/Cancer/CancerSurveyThankYou.tsx
  apps/eo_web/src/screens/ProfilingThankYou.tsx
  apps/eo_web/src/stores/useProfilingStore.ts
  cspell.json
Labels: feature, needs review

#234 [Release] v1.2.2 🚀 - 27/09/2024
  apps/eo_web/src/components/FAQs.tsx
  apps/eo_web/src/layouts/Footer.tsx
  apps/eo_web/src/screens/AccountCreation.tsx
  apps/eo_web/src/screens/Cancer/CancerSurveyThankYou.tsx
  apps/eo_web/src/screens/ProfilingThankYou.tsx
  apps/eo_web/src/stores/useProfilingStore.ts
  cspell.json
Labels: draft, release
